<section class="content-header">
    <h1>New Product Category</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<%= render "form" %>
			</div>
		</div>
	</div>
</section>
